.root {
    -fx-font-family: "Noto Sans", "Noto Sans Ethiopic", "Noto Sans CJK", "System";
    -fx-font-size: 14px;
}

.label {
    -fx-font-family: "Noto Sans Ethiopic";
}

.button {
    -fx-font-family: "Noto Sans", "Noto Sans Ethiopic", "Noto Sans CJK", "System";
}

.text-field {
    -fx-font-family: "Noto Sans Ethiopic";
}

.text-area {
    -fx-font-family: "Noto Sans", "Noto Sans Ethiopic", "Noto Sans CJK", "System";
}
.bubble-mine {
    -fx-background-color: #ADD8E6; /* light blue */
    -fx-text-fill: black;
    -fx-padding: 8px 12px;
    -fx-background-radius: 12px;
}

/* Messages from others */
.bubble-other {
    -fx-background-color: #D3D3D3;
    -fx-text-fill: black;
    -fx-padding: 8px 12px;
    -fx-background-radius: 12px;
}