.info-panel {
    -fx-background-color: #020617;
    -fx-background-radius: 16;
}

.info-header {
    -fx-background-color: #020617;
}

.info-title {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.icon-button {
    -fx-background-color: transparent;
    -fx-text-fill: #94a3b8;
}

.icon-button:hover {
    -fx-text-fill: white;
}

.info-username {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.info-bio {
    -fx-text-fill: #94a3b8;
    -fx-text-alignment: center;
}
