.root {
    -fx-background-color: #0f172a;
}

VBox {
    -fx-background-color: #020617;
}

Label {
    -fx-text-fill: white;
}

ScrollPane {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

Button {
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

#chatListBox > Button {
    -fx-background-color: transparent;
    -fx-text-fill: #cbd5f5;
    -fx-padding: 10;
}

#chatListBox > Button:hover {
    -fx-background-color: #1e293b;
}

#titleHbox {
    -fx-background-color: #020617;
    -fx-border-color: #1e293b;
    -fx-border-width: 0 0 1 0;
}

#chatTitle {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#chatSubtitle {
    -fx-text-fill: #94a3b8;
}


#messagesScroll {
    -fx-background-color: #020617;
}

.bubble-mine {
    -fx-background-color: #2563eb;
    -fx-text-fill: white;
    -fx-padding: 8 12;
    -fx-background-radius: 12;
}

.bubble-other {
    -fx-background-color: #334155;
    -fx-text-fill: #e5e7eb;
    -fx-padding: 8 12;
    -fx-background-radius: 12;
}

.chat-input {
    -fx-background-color: #020617;
    -fx-text-fill: white;
    -fx-border-color: #1e293b;
    -fx-border-radius: 6;
}
#translateButton{
    -fx-background-color: #0078d7;
    -fx-text-fill: white;
    -fx-background-radius: 6;
}

.chat-selected {
    -fx-background-color: #2563eb;
    -fx-text-fill: white;
}

.chat-selected:hover {
    -fx-background-color: #2563eb;
}
