.info-panel {
    -fx-background-color: #020617;
    -fx-background-radius: 16;
}

.section-title {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.primary-button {
    -fx-background-color: #2563eb;
    -fx-text-fill: white;
    -fx-background-radius: 8;
}

.primary-button:hover {
    -fx-background-color: #1d4ed8;
}

.danger-button {
    -fx-background-color: #f87171;
    -fx-text-fill: #020617;
    -fx-background-radius: 8;
}

.danger-button:hover {
    -fx-background-color: #ef4444;
}

ScrollPane {
    -fx-background-color: transparent;
}
