.root {
    -fx-background-color: #0f172a;
}

Label {
    -fx-text-fill: white;
}

TextField, PasswordField {
    -fx-background-color: #020617;
    -fx-text-fill: white;
    -fx-border-color: #1e293b;
    -fx-border-radius: 6;
}

Button {
    -fx-background-color: #2563eb;
    -fx-text-fill: white;
    -fx-background-radius: 8;
}

Hyperlink {
    -fx-text-fill: #94a3b8;
}
